@charset "utf-8";
/* CSS Document */

nav{
	display:none;
}
.well{
	display:none;
}
form{
	display:none;
}
.bgog{
	color:#ffae33;
	font-size:48px;
}
h1{
	color:#ffae33;
	font-size:48px;
}
.Premove{
	display:none;
}